
/* Colours:
1: #eceff1
2: #cfd8dc
3: #b0bec5
4: #90a4ae
5: #78909c
6: #607db8
7: #546e7a
8: #455a64
9: #37474f
10: #263238
./End colours */





html {
  position: relative;
  min-height: 100%;
}


body {
  margin: 0 0 300px 0; /* Margin bottom by footer height */
  width: 100%;
  min-height: 100%;
  background-color: #fafafa;
  background: radial-gradient(ellipse at top left, #fafafa, #c0c0c0);
  color: #545454;
  font-family: 'Roboto Slab', serif;
  font-size: 0.9rem;
  padding-top:90px;
  clear: both;

}


@media (min-width:768px){
  body{
    padding-top:0;
    margin: 0 0 150px 0; /* Margin bottom by footer height */
  }
}

@media (min-width:768px){
  body{
    padding-left:230px;
  }
}

.navbar.fixed-left{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1030;
  background-color: #37474f;
  background: radial-gradient(ellipse at top left, #455a64, #263238);
  transition: all 0.5s ease-out;
}

.nav-header{
  color: #b0bec5;
  font-weight: 600;
}

@media (min-width:768px){
  .navbar.fixed-left{
    bottom:0;
    width:230px;
    flex-flow:column nowrap;
    align-items:flex-start;
    background-color: transparent;
    background: transparent;
    transition: all 0.5s ease-out;
  }
  .navbar.fixed-left .navbar-collapse{
    flex-grow:0;
    flex-direction:column;
    width:100%;
  }
  .navbar.fixed-left .navbar-collapse .navbar-nav{
    flex-direction:column;
    width:100%;
  }
  .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item{
    width:100%;
  }
  .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu{
    top:0;
  }
  
  .nav-header{
    color: #455a64;
    font-weight: 600;
  }
}

@media (min-width:768px){
  .navbar.fixed-left{
    right:auto;
  }
  .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after{
    border-top:.3em solid transparent;
    border-left:.3em solid;
    border-bottom:.3em solid transparent;
    border-right:none;
    vertical-align:baseline;
  }
  .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu{
    left:100%;
  }
}

.cv{
  background-color: #fff;
  padding: 2rem;
  box-shadow: 2px 2px 4px #000;
}

.disabled{
  display:none;
}
.steve{
  font-size: 2rem;
  font-weight: 100;
  
}
.holmes{
  font-size: 2rem;
  font-weight: 600;
}

.legals, .socials{
  font-size: 0.8rem;
}
.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 300px;
  background-color: #37474f;
  color: #90a4ae;
  background: radial-gradient(ellipse at top left, #455a64, #263238);
  font-size: 1rem;
  padding: 2em;
  width:100%;
  left: 0;
  right: 0;
}

@media (min-width:768px){
  .footer{
    /* Set the fixed height of the footer here */
    height: 150px;
  }
}
@media (min-width:1024px){
  .legals, .socials{
    /* Set the fixed height of the footer here */
    font-size: 1rem;
  }
}
.headerSpace{
  height: 100px;
}

.navbar {
  border-radius: 0;
  transition: all 0.3s ease-out;
  height: auto !important;
}


.affix {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1030;
}

nav ul, footer ul {
    list-style: none;
    /* font-weight: bold; */
}
nav ul li, footer ul li {

  margin-right: 20px;
}

.nav li.nav-item{
text-align: left;
line-height: 1rem;
}

.nav li.nav-item.active{
  transition: all 0.5s ease-out;
  }


  .nav li.nav-item.active:hover{
  transition: all 0.5s ease-out;
    }

.navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=607d8b');
  transition: all 0.5s ease-out;
  }
  .navbar-toggler-icon:hover {
    /* background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=90a4ae'); */
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=a0522d');
    transition: all 0.5s ease-out;
    }


a, .dropdown-item {
    color:#607d8b;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease-out;
}
a:hover, a:focus, a:active {
    /* color:#90a4ae; */
    color: #a0522d;
    border-bottom: 2px solid #607d8b;
    transition: all 0.5s ease-out;
    text-decoration: none;
}

h1 {
    font-size: 3em;
    margin: 0 0 2.8rem 0;
}
h5 {
  font-weight: 600;
  margin-top: 1rem;
}
h6 {
}

p.larger {
    font-size: 1.5em;
    line-height: 1.4em;
}
p {

  font-size: 0.9rem;
}

.nav-item .menuicon {
  color: #607d8b;
}
.nav-item.active .menuicon {
  /* color: #8b607d; */
  /* color: #887163; */
  color: #a0522d;
}


.thin, .thin.hr {
  line-height: 0.1rem;
  margin:0.2rem auto;
  padding:0;
}
	
/***********************************email*********************************/


.backToFront {
  unicode-bidi:bidi-override;
  direction:rtl;
}
  
.stealthySymbol {
  display:none;
}
  
.domain:before {
  content: ".";
}

.domain:after {
  content: "@";
}

  /******************************** End email ******************************/
  
  